:root {
  --color1: #012a4a;
  --color2: #013a63;
  --color3: #01497c;
  --color4: #2c7da0;
  --color5: #468faf;
  --color5b: #71adc6;
  --color6: #a9d6e5;
  --color7: #dfeaee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  min-width: 300px;
  height: 100vh;
  margin: 0;
  font-size: 0.875rem;
}

/* Este es el CONTENEDOR de vista principal donde se mostrara la pagina */
#views {
  width: 100%;
  height: 100%;
  background: var(--color1);
  flex: 1;
}

/* Esta es la vista principal donde se mostrara la pagina */
#view {
  width: 100%;
  height: 100%;
}
.etabs-tabgroup {
  max-width: 1723px;
  width: 100%;
  -webkit-app-region: drag;
  display: flex !important;
}
.navbar {
  background: var(--color2);
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 80px;
  border-bottom: 1px solid var(--color5b);
}
.navbar .navbar__section {
  display: flex;
  flex-direction: row;
  height: 50%;
  width: 100%;
}

.navbar .navbar__section:nth-child(2) {
  padding-top: 5px;
  padding-bottom: 5px;
  background: var(--color4);
}
.navbar__tabs {
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.etabs-tabs .active {
  display: flex;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  flex-direction: row;
  background: var(--color4);
  justify-content: space-around;
  box-shadow: 10px 0 5px rgba(0, 0, 0, 0.05);
  align-items: center;
  padding: 10px;
  height: 100%;
  overflow: hidden;
  -webkit-app-region: no-drag;
  user-select: none;
}

.etabs-tab {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  height: 100%;
  -webkit-app-region: no-drag;
  user-select: none;
}

.navbar__windowcontrols {
  display: flex;
  font-size: 1.2em;
  justify-content: space-around;
  align-items: center;
  width: 150px;
}
.control__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 33%;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
}

.control__icon:hover {
  background: rgba(255, 255, 255, 0.1);
  color: var(--color6);
}

.control__icon--close:hover {
  background: rgba(253, 80, 80, 0.8);
  color: var(--color6);
}

.page__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
}
.etabs-tab-title {
  color: var(--color7);
  margin-left: 5px;
  max-width: 200px;
  height: 100%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.etabs-tab-icon {
  width: 20px;
  height: 20px;
}
.etabs-tab-icon img {
  width: auto;
  height: 100%;
}
.control_btn {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.control_btn:hover {
  background: rgba(169, 214, 229, 0.3);
  color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
}

.page__controls {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: space-around;
  font-size: 1.2em;
}

.page__navigator {
  display: flex;
  width: 100%;
  background: var(--color3);
  overflow: hidden;
  border-radius: 20px;
}
.page__url {
  display: flex;
  width: 100%;
}
.page__url input {
  width: 100%;
  border: none;
  color: var(--color6);
  margin-left: 10px;
  font-size: 1.2em;
  background: none;
  height: 100%;
  padding: 5px;
}
.page__url input:focus {
  border: none;
  outline: none;
}
.favoritos {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}
.user__options__burger {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.etabs-views {
  background: brown;
}

.etabs-buttons {
  /* background: chartreuse; */
  display: flex;
  -webkit-app-region: no-drag;
  align-items: center;
}
.etabs-buttons .etabs-tab-button-new,
.etabs-tab-button-close {
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  font-size: 1.6em;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background: none;
}

.etabs-buttons .etabs-tab-button-new:hover {
  background: rgba(169, 214, 229, 0.3);
  color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
}

.etabs-tab-button-close:hover {
  background: rgba(169, 214, 229, 0.3);
  color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
}
